<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Edit Distance Problem</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/fzavicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/customdynamic.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom-card.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i|Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />
  </head>
  <body>
    <section class="cover-5 text-center">
      <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
        <div class="container">
          <a class="navbar-brand" href="/">Kelompok 09</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse pull-xs-right justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mt-2 mt-md-0">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dynamic</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/dynamic">With Traceback Matrix</a>
                  <a class="dropdown-item" href="/dynamicwithouttraceback">Without Traceback Matrix</a>
                  <!--<a class="dropdown-item" href="/dynamicalternative">Levenshtein Distance</a>-->
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Greedy</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/greedy">Fast Approach</a>
                  <a class="dropdown-item" href="/greedyalternative">LCS Approach</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">D & C</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/divideandconquer">D & C v1</a>
                  <a class="dropdown-item" href="/divideandconquer2">D & C v2</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/stripek">Stripe</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/recursive">Recursive</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">B & B</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/branchandboundwithpath">B&B Path</a>
                  <a class="dropdown-item" href="/branchandboundwithqueue">B&B Queue</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/bfs">BFS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/backtracking">Backtracking</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Ini Card dengan Menu algoritmanya -->
      <div class="cover-container pb-5">
        <div class="cover-inner container">
          <h1 class="jumbotron-heading">Edit Distance Problem</h1>
          <p class="lead">Comparison of different algorithmic approaches</p>
          <div class="divider"></div>

          <!-- Row 1 -->
          <div class="row">
            <div class="col-md-4">
              <div class="card custom-card text-white bg-primary mb-4" onclick="window.location='/dynamic';" style="cursor: pointer">
                <div class="card-body">
                  <h5 class="card-title">Dynamic Approach with Traceback Matrix</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card custom-card text-white bg-success mb-4" onclick="window.location='/dynamicwithouttraceback';" style="cursor: pointer">
                <div class="card-body">
                  <h5 class="card-title">Dynamic Approach without Traceback Matrix</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card custom-card text-white bg-warning mb-4" onclick="window.location='/greedy';" style="cursor: pointer">
                <div class="card-body">
                  <h5 class="card-title">Greedy Approach - Fast</h5>
                </div>
              </div>
            </div>
          </div>

          <!-- Row 2 -->
          <div class="row">
            <div class="col-md-4">
              <div class="card custom-card text-white bg-danger mb-4" onclick="window.location='/greedyalternative';" style="cursor: pointer">
                <div class="card-body">
                  <h5 class="card-title">Greedy Approach - LCS</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card custom-card text-white bg-primary mb-4" onclick="window.location='/divideandconquer';" style="cursor: pointer">
                <div class="card-body">
                  <h5 class="card-title">Divide and Conquer</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card custom-card text-white bg-info mb-4" onclick="window.location='/divideandconquer2';" style="cursor: pointer">
                <div class="card-body">
                  <h5 class="card-title">Divide and Conquer v2</h5>
                </div>
              </div>
            </div>
          </div>

          <!-- Row 3 -->
          <div class="row">
            <div class="col-md-4">
              <div class="card custom-card text-white bg-success mb-4" onclick="window.location='/stripek';" style="cursor: pointer">
                <div class="card-body">
                  <h5 class="card-title">Stripe</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card custom-card text-white bg-info mb-4" onclick="window.location='/recursive';" style="cursor: pointer">
                <div class="card-body">
                  <h5 class="card-title">Recursive Approach</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card custom-card text-white bg-warning mb-4" onclick="window.location='/branchandboundwithpath';" style="cursor: pointer">
                <div class="card-body">
                  <h5 class="card-title">Branch and Bound - Path Approach</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="card custom-card text-white bg-success mb-4" onclick="window.location='/branchandboundwithqueue';" style="cursor: pointer">
                <div class="card-body">
                  <h5 class="card-title">Branch and Bound - Queue Approach</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card custom-card text-white bg-info mb-4" onclick="window.location='/bfs';" style="cursor: pointer">
                <div class="card-body">
                  <h5 class="card-title">Breadth First Search</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card custom-card text-white bg-warning mb-4" onclick="window.location='/branchandboundwithpath';" style="cursor: pointer">
                <div class="card-body">
                  <h5 class="card-title">Backtracking Approach</h5>
                </div>
              </div>
            </div>
          </div>
          <!-- Row 4 -->
          <!-- <div class="row d-flex justify-content-center">
            <div class="col-md-4 d-flex justify-content-center">
              <div class="card custom-card text-white bg-danger mb-4" onclick="window.location='/branchandboundwithqueue';" style="cursor: pointer; max-width: 20rem; width: 100%">
                <div class="card-body">
                  <h5 class="card-title text-center">Branch and Bound - Queue Approach</h5>
                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center">
              <div class="card custom-card text-white bg-danger mb-4" onclick="window.location='/branchandboundwithqueue';" style="cursor: pointer; max-width: 20rem; width: 100%">
                <div class="card-body">
                  <h5 class="card-title text-center">Breadth First Search</h5>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
              <div class="card custom-card text-white bg-primary mb-4" onclick="window.location='/proteindb';" style="cursor: pointer; max-width: 20rem; width: 100%">
                <div class="card-body">
                  <h5 class="card-title text-center">Backtracking Approach</h5>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </section>

    <footer class="footer-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center text-md-left mt-2 mb-3 pt-1">
            <p class="copyright">Copyright &copy; 2024 Kelompok 09 - Edit Distance Using Several Algorithms. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>

    <!--JS import-->
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tether.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/customjs.js') }}"></script>
  </body>
</html>
